<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <style>
        .mt-5{
            width: 90%;
            margin-top: 2%;
        }
        .crud-text {
            font-size: 5rem; /* change to 4rem or 5rem if you want bigger */
            font-weight: bold;
        }
    </style>
</head>
<body>
        {% block content %}{% endblock content %}
</body>
</html>